<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="TechyDevs">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trizen - Travel Booking HTML Template</title>
    <!-- Favicon -->
    <link rel="icon" href="images/favicon.png">

    <!-- Google Fonts -->
    <link href="../../../../../../../fonts.googleapis.com/css2bff7.css?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap" rel="stylesheet">

    <!-- Template CSS Files -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/line-awesome.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/daterangepicker.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/animated-headline.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/jquery.filer.css">
    <link rel="stylesheet" href="css/flag-icon.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-rtl.css">
</head>
<body>
<!-- start cssload-loader -->
<div class="preloader" id="preloader">
    <div class="loader">
        <svg class="spinner" viewBox="0 0 50 50">
            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
        </svg>
    </div>
</div>
<!-- end cssload-loader -->


<!-- ================================
    START COUNTDOWN AREA
================================= -->
<section class="coming-container">
    <div class="coming-inner d-flex align-items-center text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="coming-soon-content">
                        <div class="logo justify-content-center pb-3">
                            <img src="images/logo2.png" alt="logo">
                        </div><!-- end logo -->
                        <div class="section-heading">
                            <h2 class="sec__title font-size-55 line-height-70 text-white">نحن نطلق موقعنا الجديد <br> قريبا.</h2>
                        </div><!-- end section-heading -->
                        <div class="countdown-box padding-top-35px padding-bottom-60px d-flex justify-content-center">
                            <div class="countdown-item">
                                <span class="count-text">أيام</span>
                                <span id="days">00</span>
                            </div>
                            <div class="countdown-item">
                                <span class="count-text">ساعات</span>
                                <span id="hours">00</span>
                            </div>
                            <div class="countdown-item">
                                <span class="count-text">الدقائق</span>
                                <span id="minutes">00</span>
                            </div>
                            <div class="countdown-item">
                                <span class="count-text">ثواني</span>
                                <span id="seconds">00</span>
                            </div>
                        </div><!-- end countdown-box -->
                        <p class="font-size-18 text-white line-height-30">Lorem ipsum dolor sit amet، consectetur adipiscing elit.شجب بعض
                            <br>مراجع للترحيب بالجسد! من أكثر الأمور أن خيار الرفض يأتي من بعضهم!</p>
                        <div class="contact-form-action py-4">
                            <form method="post">
                                <div class="row">
                                    <div class="col-lg-6 mx-auto">
                                        <div class="input-box text-left">
                                            <label class="label-text text-white">دعنا نخطرك عندما نكون في الأعلى</label>
                                            <div class="form-group">
                                                <span class="la la-envelope form-icon"></span>
                                                <input class="form-control" type="text" name="text" placeholder="أدخل عنوان البريد الالكتروني">
                                                <button type="button" class="theme-btn submit-btn theme-btn-small">اعلمني</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div><!-- end contact-form-action -->
                        <ul class="social-profile social--profile">
                            <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
                            <li><a href="#"><i class="lab la-twitter"></i></a></li>
                            <li><a href="#"><i class="lab la-instagram"></i></a></li>
                            <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
                        </ul>
                    </div><!-- end coming-soon-content -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div>
</section><!-- end countdown-area -->
<!-- ================================
    END COUNTDOWN AREA
================================= -->

<div id="fullscreen-slide-contain">
    <ul class="slides-container">
        <li><img src="images/hero-bg.jpg" alt=""></li>
        <li><img src="images/hero-bg2.jpg" alt=""></li>
        <li><img src="images/hero-bg3.jpg" alt=""></li>
        <li><img src="images/hero-bg4.jpg" alt=""></li>
        <li><img src="images/hero-bg5.jpg" alt=""></li>
    </ul>
</div><!-- End background slider -->

<!-- Template JS Files -->
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script src="js/moment.min.js"></script>
<script src="js/daterangepicker.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/jquery.countTo.min.js"></script>
<script src="js/animated-headline.js"></script>
<script src="js/jquery.filer.min.js"></script>
<script src="js/jquery.ripples-min.js"></script>
<script src="js/jquery.superslides.min.js"></script>
<script src="js/superslider-script.js"></script>
<script src="js/countdown.js"></script>
<script src="js/main-rtl.js"></script>
</body>
</html>