<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="TechyDevs">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trizen - Travel Booking HTML Template</title>
    <!-- Favicon -->
    <link rel="icon" href="images/favicon.png">

    <!-- Google Fonts -->
    <link href="../../../../../../../fonts.googleapis.com/css2bff7.css?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap" rel="stylesheet">

    <!-- Template CSS Files -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/line-awesome.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/daterangepicker.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/animated-headline.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/jquery.filer.css">
    <link rel="stylesheet" href="css/flag-icon.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-rtl.css">
</head>
<body class="section-bg">
<!-- start cssload-loader -->
<div class="preloader" id="preloader">
    <div class="loader">
        <svg class="spinner" viewBox="0 0 50 50">
            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
        </svg>
    </div>
</div>
<!-- end cssload-loader -->

<!-- ================================
       START USER CANVAS MENU
================================= -->
<div class="user-canvas-container">
    <div class="side-menu-close">
        <i class="la la-times"></i>
    </div><!-- end menu-toggler -->
    <div class="user-canvas-nav">
        <div class="section-tab section-tab-2 text-center pt-4 pb-3 pl-4">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="notification-tab" data-toggle="tab" href="#notification" role="tab" aria-controls="notification" aria-selected="false">
                        إشعارات
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="account-tab" data-toggle="tab" href="#account" role="tab" aria-controls="account" aria-selected="true">
                        الحساب
                    </a>
                </li>
            </ul>
        </div><!-- end section-tab -->
    </div>
    <div class="user-canvas-nav-content">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="notification" role="tabpanel" aria-labelledby="notification-tab">
                <div class="user-sidebar-item">
                    <div class="notification-item">
                        <div class="list-group drop-reveal-list">
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="msg-body d-flex align-items-center">
                                    <div class="icon-element flex-shrink-0 mr-3 ml-0"><i class="la la-bell"></i></div>
                                    <div class="msg-content w-100">
                                        <h3 class="title pb-1">تم ارسال طلبك</h3>
                                        <p class="msg-text">قبل دقيقتين</p>
                                    </div>
                                </div><!-- end msg-body -->
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="msg-body d-flex align-items-center">
                                    <div class="icon-element bg-2 flex-shrink-0 mr-3 ml-0"><i class="la la-check"></i></div>
                                    <div class="msg-content w-100">
                                        <h3 class="title pb-1">لقد تم إنشاء حسابك</h3>
                                        <p class="msg-text">1 منذ يوم</p>
                                    </div>
                                </div><!-- end msg-body -->
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="msg-body d-flex align-items-center">
                                    <div class="icon-element bg-3 flex-shrink-0 mr-3 ml-0"><i class="la la-user"></i></div>
                                    <div class="msg-content w-100">
                                        <h3 class="title pb-1">تم تحديث حسابك</h3>
                                        <p class="msg-text">قبل ساعتين</p>
                                    </div>
                                </div><!-- end msg-body -->
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="msg-body d-flex align-items-center">
                                    <div class="icon-element bg-4 flex-shrink-0 mr-3 ml-0"><i class="la la-lock"></i></div>
                                    <div class="msg-content w-100">
                                        <h3 class="title pb-1">تم تغيير كلمة المرور الخاصة بك</h3>
                                        <p class="msg-text">في الامس</p>
                                    </div>
                                </div><!-- end msg-body -->
                            </a>
                             <a href="#" class="list-group-item list-group-item-action">
                                <div class="msg-body d-flex align-items-center">
                                    <div class="icon-element bg-5 flex-shrink-0 mr-3 ml-0"><i class="la la-envelope"></i></div>
                                    <div class="msg-content w-100">
                                        <h3 class="title pb-1">تم إرسال البريد الإلكتروني الخاص بك</h3>
                                        <p class="msg-text">في الامس</p>
                                    </div>
                                </div><!-- end msg-body -->
                            </a>
                             <a href="#" class="list-group-item list-group-item-action">
                                <div class="msg-body d-flex align-items-center">
                                    <div class="icon-element bg-6 flex-shrink-0 mr-3 ml-0"><i class="la la-envelope"></i></div>
                                    <div class="msg-content w-100">
                                        <h3 class="title pb-1">تغير بريدك الإلكتروني</h3>
                                        <p class="msg-text">في الامس</p>
                                    </div>
                                </div><!-- end msg-body -->
                            </a>
                        </div>
                    </div><!-- end notification-item -->
                </div>
            </div>
            <div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="account-tab">
                <div class="user-action-wrap user-sidebar-panel">
                    <div class="notification-item">
                        <a href="user-dashboard-profile.html" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-sm flex-shrink-0 mr-2"><img src="images/team8.jpg" alt="team-img"></div>
                                <span class="font-size-14 font-weight-bold">علي توفان</span>
                            </div>
                        </a>
                        <div class="list-group drop-reveal-list user-drop-reveal-list">
                            <a href="user-dashboard-profile.html" class="list-group-item list-group-item-action">
                                <div class="msg-body">
                                    <div class="msg-content">
                                        <h3 class="title"><i class="la la-user mr-2"></i>ملفي</h3>
                                    </div>
                                </div><!-- end msg-body -->
                            </a>
                            <a href="user-dashboard-booking.html" class="list-group-item list-group-item-action">
                                <div class="msg-body">
                                    <div class="msg-content">
                                        <h3 class="title"><i class="la la-shopping-cart mr-2"></i>الحجز</h3>
                                    </div>
                                </div><!-- end msg-body -->
                            </a>
                            <a href="user-dashboard-reviews.html" class="list-group-item list-group-item-action">
                                <div class="msg-body">
                                    <div class="msg-content">
                                        <h3 class="title"><i class="la la-heart mr-2"></i>تعليقاتي</h3>
                                    </div>
                                </div><!-- end msg-body -->
                            </a>
                            <a href="user-dashboard-settings.html" class="list-group-item list-group-item-action">
                                <div class="msg-body">
                                    <div class="msg-content">
                                        <h3 class="title"><i class="la la-gear mr-2"></i>الإعدادات</h3>
                                    </div>
                                </div><!-- end msg-body -->
                            </a>
                            <div class="section-block"></div>
                            <a href="index.html" class="list-group-item list-group-item-action">
                                <div class="msg-body">
                                    <div class="msg-content">
                                        <h3 class="title"><i class="la la-power-off mr-2"></i>تسجيل خروج</h3>
                                    </div>
                                </div><!-- end msg-body -->
                            </a>
                        </div>
                    </div><!-- end notification-item -->
                </div>
            </div>
        </div>
    </div>
</div><!-- end user-canvas-container -->
<!-- ================================
       END USER CANVAS MENU
================================= -->

<!-- ================================
       START DASHBOARD NAV
================================= -->
<div class="sidebar-nav">
    <div class="sidebar-nav-body">
        <div class="side-menu-close">
            <i class="la la-times"></i>
        </div><!-- end menu-toggler -->
        <div class="author-content">
            <div class="d-flex align-items-center">
                <div class="author-img avatar-sm">
                    <img src="images/team8.jpg" alt="testimonial image">
                </div>
                <div class="author-bio">
                    <h4 class="author__title">علي توفان</h4>
                    <span class="author__meta">عضو منذ مايو 2017</span>
                </div>
            </div>
        </div>
        <div class="sidebar-menu-wrap">
            <ul class="sidebar-menu list-items">
                <li class="page-active"><a href="user-dashboard.html"><i class="la la-dashboard mr-2"></i>لوحة القيادة</a></li>
                <li><a href="user-dashboard-booking.html"><i class="la la-shopping-cart mr-2 text-color"></i>الحجز</a></li>
                <li><a href="user-dashboard-profile.html"><i class="la la-user mr-2 text-color-2"></i>ملفي</a></li>
                <li><a href="user-dashboard-reviews.html"><i class="la la-star mr-2 text-color-3"></i>تعليقاتي</a></li>
                <li><a href="user-dashboard-wishlist.html"><i class="la la-heart mr-2 text-color-4"></i>قائمة الرغبات</a></li>
                <li><a href="user-dashboard-settings.html"><i class="la la-cog mr-2 text-color-5"></i>الإعدادات</a></li>
                <li><a href="index.html"><i class="la la-power-off mr-2 text-color-6"></i>تسجيل خروج</a></li>
            </ul>
        </div><!-- end sidebar-menu-wrap -->
    </div>
</div><!-- end sidebar-nav -->
<!-- ================================
       END DASHBOARD NAV
================================= -->

<!-- ================================
    START DASHBOARD AREA
================================= -->
<section class="dashboard-area">
    <div class="dashboard-nav">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="menu-wrapper">
                        <div class="logo mr-5">
                            <a href="index.html"><img src="images/logo2.png" alt="logo"></a>
                            <div class="menu-toggler">
                                <i class="la la-bars"></i>
                                <i class="la la-times"></i>
                            </div><!-- end menu-toggler -->
                            <div class="user-menu-open">
                                <i class="la la-user"></i>
                            </div><!-- end user-menu-open -->
                        </div>
                        <div class="dashboard-search-box">
                            <div class="contact-form-action">
                                <form action="#">
                                    <div class="form-group mb-0">
                                        <input class="form-control" type="text" name="text" placeholder="ابحث هنا">
                                        <button class="search-btn"><i class="la la-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="nav-btn ml-auto">
                            <div class="notification-wrap d-flex align-items-center">
                                <div class="notification-item mr-2">
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle drop-reveal-toggle-icon" id="notificationDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="la la-bell"></i>
                                            <span class="noti-count">4</span>
                                        </a>
                                        <div class="dropdown-menu dropdown-reveal dropdown-menu-xl dropdown-menu-right">
                                            <div class="dropdown-header drop-reveal-header">
                                                <h6 class="title">لديك <strong class="text-black"> 4 </strong> إشعارات</h6>
                                            </div>
                                            <div class="list-group drop-reveal-list">
                                                <a href="#" class="list-group-item list-group-item-action">
                                                    <div class="msg-body d-flex align-items-center">
                                                        <div class="icon-element flex-shrink-0 mr-3 ml-0"><i class="la la-bell"></i></div>
                                                        <div class="msg-content w-100">
                                                            <h3 class="title pb-1">تم ارسال طلبك</h3>
                                                            <p class="msg-text">قبل دقيقتين</p>
                                                        </div>
                                                    </div><!-- end msg-body -->
                                                </a>
                                                <a href="#" class="list-group-item list-group-item-action">
                                                    <div class="msg-body d-flex align-items-center">
                                                        <div class="icon-element bg-2 flex-shrink-0 mr-3 ml-0"><i class="la la-check"></i></div>
                                                        <div class="msg-content w-100">
                                                            <h3 class="title pb-1">لقد تم إنشاء حسابك</h3>
                                                            <p class="msg-text">1 منذ يوم</p>
                                                        </div>
                                                    </div><!-- end msg-body -->
                                                </a>
                                                <a href="#" class="list-group-item list-group-item-action">
                                                    <div class="msg-body d-flex align-items-center">
                                                        <div class="icon-element bg-3 flex-shrink-0 mr-3 ml-0"><i class="la la-user"></i></div>
                                                        <div class="msg-content w-100">
                                                            <h3 class="title pb-1">تم تحديث حسابك</h3>
                                                            <p class="msg-text">قبل ساعتين</p>
                                                        </div>
                                                    </div><!-- end msg-body -->
                                                </a>
                                                <a href="#" class="list-group-item list-group-item-action">
                                                    <div class="msg-body d-flex align-items-center">
                                                        <div class="icon-element bg-4 flex-shrink-0 mr-3 ml-0"><i class="la la-lock"></i></div>
                                                        <div class="msg-content w-100">
                                                            <h3 class="title pb-1">تم تغيير كلمة المرور الخاصة بك</h3>
                                                            <p class="msg-text">في الامس</p>
                                                        </div>
                                                    </div><!-- end msg-body -->
                                                </a>
                                            </div>
                                            <a href="#" class="dropdown-item drop-reveal-btn text-center">مشاهدة الكل</a>
                                        </div><!-- end dropdown-menu -->
                                    </div>
                                </div><!-- end notification-item -->
                                <div class="notification-item">
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle" id="userDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar avatar-sm flex-shrink-0 mr-2"><img src="images/team8.jpg" alt="team-img"></div>
                                                <span class="font-size-14 font-weight-bold">علي توفان</span>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu dropdown-reveal dropdown-menu-md dropdown-menu-right">
                                            <div class="dropdown-item drop-reveal-header user-reveal-header">
                                                <h6 class="title text-uppercase">أهلا بك!</h6>
                                            </div>
                                            <div class="list-group drop-reveal-list user-drop-reveal-list">
                                                <a href="user-dashboard-profile.html" class="list-group-item list-group-item-action">
                                                    <div class="msg-body">
                                                        <div class="msg-content">
                                                            <h3 class="title"><i class="la la-user mr-2"></i>ملفي</h3>
                                                        </div>
                                                    </div><!-- end msg-body -->
                                                </a>
                                                <a href="user-dashboard-booking.html" class="list-group-item list-group-item-action">
                                                    <div class="msg-body">
                                                        <div class="msg-content">
                                                            <h3 class="title"><i class="la la-shopping-cart mr-2"></i>الحجز</h3>
                                                        </div>
                                                    </div><!-- end msg-body -->
                                                </a>
                                                <a href="user-dashboard-reviews.html" class="list-group-item list-group-item-action">
                                                    <div class="msg-body">
                                                        <div class="msg-content">
                                                            <h3 class="title"><i class="la la-heart mr-2"></i>تعليقاتي</h3>
                                                        </div>
                                                    </div><!-- end msg-body -->
                                                </a>
                                                <a href="user-dashboard-settings.html" class="list-group-item list-group-item-action">
                                                    <div class="msg-body">
                                                        <div class="msg-content">
                                                            <h3 class="title"><i class="la la-gear mr-2"></i>الإعدادات</h3>
                                                        </div>
                                                    </div><!-- end msg-body -->
                                                </a>
                                                <div class="section-block"></div>
                                                <a href="index.html" class="list-group-item list-group-item-action">
                                                    <div class="msg-body">
                                                        <div class="msg-content">
                                                            <h3 class="title"><i class="la la-power-off mr-2"></i>تسجيل خروج</h3>
                                                        </div>
                                                    </div><!-- end msg-body -->
                                                </a>
                                            </div>
                                        </div><!-- end dropdown-menu -->
                                    </div>
                                </div><!-- end notification-item -->
                            </div>
                        </div><!-- end nav-btn -->
                    </div><!-- end menu-wrapper -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container-fluid -->
    </div><!-- end dashboard-nav -->
    <div class="dashboard-content-wrap">
        <div class="dashboard-bread">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="breadcrumb-content">
                            <div class="section-heading">
                                <h2 class="sec__title font-size-30 text-white">مرحبا علي اهلا بك من جديد!</h2>
                            </div>
                        </div><!-- end breadcrumb-content -->
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="breadcrumb-list text-right">
                            <ul class="list-items">
                                <li><a href="index.html" class="text-white">الصفحة الرئيسية</a></li>
                                <li>الصفحات</li>
                                <li>لوحة تحكم المستخدم</li>
                            </ul>
                        </div><!-- end breadcrumb-list -->
                    </div><!-- end col-lg-6 -->
                </div><!-- end row -->
                <div class="row mt-4">
                    <div class="col-lg-3 responsive-column-m">
                        <div class="icon-box icon-layout-2 dashboard-icon-box">
                            <div class="d-flex">
                                <div class="info-icon icon-element flex-shrink-0">
                                   <i class="la la-shopping-cart"></i>
                                </div><!-- end info-icon-->
                                <div class="info-content">
                                    <p class="info__desc">إجمالي الحجز</p>
                                    <h4 class="info__title">44</h4>
                                </div><!-- end info-content -->
                            </div>
                        </div>
                    </div><!-- end col-lg-3 -->
                    <div class="col-lg-3 responsive-column-m">
                        <div class="icon-box icon-layout-2 dashboard-icon-box">
                            <div class="d-flex">
                                <div class="info-icon icon-element bg-2 flex-shrink-0">
                                   <i class="la la-bookmark"></i>
                                </div><!-- end info-icon-->
                                <div class="info-content">
                                    <p class="info__desc">قائمة الرغبات</p>
                                    <h4 class="info__title">15</h4>
                                </div><!-- end info-content -->
                            </div>
                        </div>
                    </div><!-- end col-lg-3 -->
                    <div class="col-lg-3 responsive-column-m">
                        <div class="icon-box icon-layout-2 dashboard-icon-box">
                            <div class="d-flex">
                                <div class="info-icon icon-element bg-3 flex-shrink-0">
                                   <i class="la la-plane"></i>
                                </div><!-- end info-icon-->
                                <div class="info-content">
                                    <p class="info__desc">إجمالي السفر</p>
                                    <h4 class="info__title">25</h4>
                                </div><!-- end info-content -->
                            </div>
                        </div>
                    </div><!-- end col-lg-3 -->
                    <div class="col-lg-3 responsive-column-m">
                        <div class="icon-box icon-layout-2 dashboard-icon-box">
                            <div class="d-flex">
                                <div class="info-icon icon-element bg-4 flex-shrink-0">
                                   <i class="la la-star"></i>
                                </div><!-- end info-icon-->
                                <div class="info-content">
                                    <p class="info__desc">المراجعات</p>
                                    <h4 class="info__title">20</h4>
                                </div><!-- end info-content -->
                            </div>
                        </div>
                    </div><!-- end col-lg-3 -->
                </div><!-- end row -->
            </div>
        </div><!-- end dashboard-bread -->
        <div class="dashboard-main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 responsive-column--m">
                        <div class="form-box">
                            <div class="form-title-wrap">
                                <h3 class="title">نتائج احصائيات</h3>
                            </div>
                            <div class="form-content">
                                <canvas id="bar-chart"></canvas>
                            </div>
                        </div><!-- end form-box -->
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-6 responsive-column--m">
                        <div class="form-box dashboard-card">
                            <div class="form-title-wrap">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h3 class="title">إشعارات</h3>
                                    <button type="button" class="icon-element mark-as-read-btn ml-auto mr-0" data-toggle="tooltip" data-placement="left" title="اشر عليها بانها قرات">
                                        <i class="la la-check-square"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="form-content p-0">
                                <div class="list-group drop-reveal-list">
                                    <a href="#" class="list-group-item list-group-item-action border-top-0">
                                        <div class="msg-body d-flex align-items-center">
                                            <div class="icon-element flex-shrink-0 mr-3 ml-0"><i class="la la-bell"></i></div>
                                            <div class="msg-content w-100">
                                                <h3 class="title pb-1">رحلة جماعية - متوفرة</h3>
                                                <p class="msg-text">قبل دقيقتين</p>
                                            </div>
                                            <span class="icon-element mark-as-read-btn flex-shrink-0 ml-auto mr-0" data-toggle="tooltip" data-placement="left" title="ضع إشارة مقروء">
                                                <i class="la la-check-square"></i>
                                            </span>
                                        </div><!-- end msg-body -->
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <div class="msg-body d-flex align-items-center">
                                            <div class="icon-element bg-1 flex-shrink-0 mr-3 ml-0"><i class="la la-bell"></i></div>
                                            <div class="msg-content w-100">
                                                <h3 class="title pb-1">عرض خصم 50٪</h3>
                                                <p class="msg-text">قبل دقيقتين</p>
                                            </div>
                                            <span class="icon-element mark-as-read-btn flex-shrink-0 ml-auto mr-0" data-toggle="tooltip" data-placement="left" title="ضع إشارة مقروء">
                                                <i class="la la-check-square"></i>
                                            </span>
                                        </div><!-- end msg-body -->
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <div class="msg-body d-flex align-items-center">
                                            <div class="icon-element bg-2 flex-shrink-0 mr-3 ml-0"><i class="la la-check"></i></div>
                                            <div class="msg-content w-100">
                                                <h3 class="title pb-1">لقد تم إنشاء حسابك</h3>
                                                <p class="msg-text">1 منذ يوم</p>
                                            </div>
                                            <span class="icon-element mark-as-read-btn flex-shrink-0 ml-auto mr-0" data-toggle="tooltip" data-placement="left" title="ضع إشارة مقروء">
                                                <i class="la la-check-square"></i>
                                            </span>
                                        </div><!-- end msg-body -->
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <div class="msg-body d-flex align-items-center">
                                            <div class="icon-element bg-3 flex-shrink-0 mr-3 ml-0"><i class="la la-user"></i></div>
                                            <div class="msg-content w-100">
                                                <h3 class="title pb-1">تم تحديث حسابك</h3>
                                                <p class="msg-text">قبل ساعتين</p>
                                            </div>
                                            <span class="icon-element mark-as-read-btn flex-shrink-0 ml-auto mr-0" data-toggle="tooltip" data-placement="left" title="ضع إشارة مقروء">
                                                <i class="la la-check-square"></i>
                                            </span>
                                        </div><!-- end msg-body -->
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <div class="msg-body d-flex align-items-center">
                                            <div class="icon-element bg-4 flex-shrink-0 mr-3 ml-0"><i class="la la-lock"></i></div>
                                            <div class="msg-content w-100">
                                                <h3 class="title pb-1">تم تغيير كلمة المرور الخاصة بك</h3>
                                                <p class="msg-text">في الامس</p>
                                            </div>
                                            <span class="icon-element mark-as-read-btn flex-shrink-0 ml-auto mr-0" data-toggle="tooltip" data-placement="left" title="ضع إشارة مقروء">
                                                <i class="la la-check-square"></i>
                                            </span>
                                        </div><!-- end msg-body -->
                                    </a>
                                </div>
                            </div>
                        </div><!-- end form-box -->
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-6 responsive-column--m">
                        <div class="form-box dashboard-card">
                            <div class="form-title-wrap">
                                <h3 class="title">مهام</h3>
                            </div>
                            <div class="form-content">
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                  <i class="la la-check mr-2"></i>تم إجراء حجزك <a href="#" class="alert-link"> من شيملا إلى غوا </a>!
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                  <i class="la la-check mr-2"></i>أرسل بريدًا إلكترونيًا إلى <strong> dev@gmail.com </strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                  <i class="la la-check mr-2"></i>تم استلام بريد إلكتروني من <strong> tripstar@yahoo.com </strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                  <i class="la la-check mr-2"></i>دفعتك معلقة في جولة <a href="#" class="alert-link"> منالي </a>!
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                  <i class="la la-check mr-2"></i>رد شخص ما على تعليقك على جولة <a href="#" class="alert-link"> رحلة لندن </a>!
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                  <i class="la la-check mr-2"></i>لقد ألغيت <a href="#" class="alert-link"> رحلة دبي إلى لندن </a>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                  <i class="la la-check mr-2"></i>لقد قدمت تعليقًا على <span class="شارة تحذير النص الأبيض"> 4.5 </span> <a href="#" class="alert-link"> EnVision Hotel Boston </a>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div><!-- end form-box -->
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-6 responsive-column--m">
                        <div class="form-box dashboard-card order-card border-0">
                            <div class="form-title-wrap">
                                <h3 class="title">الطلب</h3>
                            </div>
                            <div class="form-content p-0">
                                <div class="list-group drop-reveal-list">
                                    <div class="list-group-item list-group-item-action border-top-0">
                                        <div class="msg-body d-flex align-items-center justify-content-between">
                                            <div class="msg-content">
                                                <h3 class="title pb-2">3 - ليلة الباهاما - ميامي ذهابا وإيابا</h3>
                                                <ul class="list-items d-flex align-items-center">
                                                    <li class="font-size-14 mr-2"><span class="badge badge-success py-1 px-2 font-size-13 font-weight-medium">دفع</span></li>
                                                    <li class="font-size-14 mr-2">الطلب: # 232</li>
                                                    <li class="font-size-14">التاريخ: 11/05/2019</li>
                                                </ul>
                                            </div>
                                            <a href="#" class="theme-btn theme-btn-small theme-btn-transparent font-size-13">
                                                عرض الفاتورة
                                            </a>
                                        </div><!-- end msg-body -->
                                    </div>
                                    <div class="list-group-item list-group-item-action">
                                        <div class="msg-body d-flex align-items-center justify-content-between">
                                            <div class="msg-content">
                                                <h3 class="title pb-2">كاليفورنيا الى نيويورك</h3>
                                                <ul class="list-items d-flex align-items-center">
                                                    <li class="font-size-14 mr-2"><span class="badge badge-danger py-1 px-2 font-size-13 font-weight-medium">غير مدفوعة</span></li>
                                                    <li class="font-size-14 mr-2">الطلب: # 232</li>
                                                    <li class="font-size-14">التاريخ: 11/05/2019</li>
                                                </ul>
                                            </div>
                                            <a href="#" class="theme-btn theme-btn-small theme-btn-transparent font-size-13">
                                                إنهاء الدفع
                                            </a>
                                        </div><!-- end msg-body -->
                                    </div>
                                    <div class="list-group-item list-group-item-action">
                                        <div class="msg-body d-flex align-items-center justify-content-between">
                                            <div class="msg-content">
                                                <h3 class="title pb-2">جولة مشي لمدة ساعتين في مانهاتن</h3>
                                                <ul class="list-items d-flex align-items-center">
                                                    <li class="font-size-14 mr-2"><span class="badge badge-success py-1 px-2 font-size-13 font-weight-medium">دفع</span></li>
                                                    <li class="font-size-14 mr-2">الطلب: # 232</li>
                                                    <li class="font-size-14">التاريخ: 11/05/2019</li>
                                                </ul>
                                            </div>
                                            <a href="#" class="theme-btn theme-btn-small theme-btn-transparent font-size-13">
                                               عرض الفاتورة
                                            </a>
                                        </div><!-- end msg-body -->
                                    </div>
                                     <div class="list-group-item list-group-item-action">
                                        <div class="msg-body d-flex align-items-center justify-content-between">
                                            <div class="msg-content">
                                                <h3 class="title pb-2">من دبي إلى إسبانيا</h3>
                                                <ul class="list-items d-flex align-items-center">
                                                    <li class="font-size-14 mr-2"><span class="badge badge-success py-1 px-2 font-size-13 font-weight-medium">دفع</span></li>
                                                    <li class="font-size-14 mr-2">الطلب: # 232</li>
                                                    <li class="font-size-14">التاريخ: 11/05/2019</li>
                                                </ul>
                                            </div>
                                            <a href="#" class="theme-btn theme-btn-small theme-btn-transparent font-size-13">
                                               عرض الفاتورة
                                            </a>
                                        </div><!-- end msg-body -->
                                    </div>
                                     <div class="list-group-item list-group-item-action">
                                        <div class="msg-body d-flex align-items-center justify-content-between">
                                            <div class="msg-content">
                                                <h3 class="title pb-2">فيلات باريان هوليداي</h3>
                                                <ul class="list-items d-flex align-items-center">
                                                    <li class="font-size-14 mr-2"><span class="badge badge-success py-1 px-2 font-size-13 font-weight-medium">دفع</span></li>
                                                    <li class="font-size-14 mr-2">الطلب: # 232</li>
                                                    <li class="font-size-14">التاريخ: 11/05/2019</li>
                                                </ul>
                                            </div>
                                            <a href="#" class="theme-btn theme-btn-small theme-btn-transparent font-size-13">
                                               عرض الفاتورة
                                            </a>
                                        </div><!-- end msg-body -->
                                    </div>
                                    <div class="list-group-item list-group-item-action">
                                        <div class="msg-body d-flex align-items-center justify-content-between">
                                            <div class="msg-content">
                                                <h3 class="title pb-2">فندق ليك بالاس</h3>
                                                <ul class="list-items d-flex align-items-center">
                                                    <li class="font-size-14 mr-2"><span class="badge badge-success py-1 px-2 font-size-13 font-weight-medium">دفع</span></li>
                                                    <li class="font-size-14 mr-2">الطلب: # 232</li>
                                                    <li class="font-size-14">التاريخ: 11/05/2019</li>
                                                </ul>
                                            </div>
                                            <a href="#" class="theme-btn theme-btn-small theme-btn-transparent font-size-13">
                                               عرض الفاتورة
                                            </a>
                                        </div><!-- end msg-body -->
                                    </div>
                                </div>
                            </div>
                        </div><!-- end form-box -->
                    </div><!-- end col-lg-6 -->
                </div><!-- end row -->
                <div class="border-top mt-4"></div>
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="copy-right padding-top-30px">
                            <p class="copy__desc">
                                &copy; Copyright Trizen 2020. Made with
                                <span class="la la-heart"></span> by <a href="https://themeforest.net/user/techydevs/portfolio">TechyDevs</a>
                            </p>
                        </div><!-- end copy-right -->
                    </div><!-- end col-lg-7 -->
                    <div class="col-lg-5">
                        <div class="footer-social-box text-right padding-top-30px">
                            <ul class="social-profile">
                                <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
                                <li><a href="#"><i class="lab la-twitter"></i></a></li>
                                <li><a href="#"><i class="lab la-instagram"></i></a></li>
                                <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
                            </ul>
                        </div><!-- end footer-social-box -->
                    </div><!-- end col-lg-5 -->
                </div><!-- end row -->
            </div><!-- end container-fluid -->
        </div><!-- end dashboard-main-content -->
    </div><!-- end dashboard-content-wrap -->
</section><!-- end dashboard-area -->
<!-- ================================
    END DASHBOARD AREA
================================= -->

<!-- start scroll top -->
<div id="back-to-top">
    <i class="la la-angle-up" title="Go top"></i>
</div>
<!-- end scroll top -->

<!-- Template JS Files -->
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script src="js/moment.min.js"></script>
<script src="js/daterangepicker.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/jquery.countTo.min.js"></script>
<script src="js/animated-headline.js"></script>
<script src="js/chart.js"></script>
<script src="js/chart.extension.js"></script>
<script src="js/bar-chart.js"></script>
<script src="js/jquery.filer.min.js"></script>
<script src="js/jquery.ripples-min.js"></script>
<script src="js/main-rtl.js"></script>
</body>
</html>